{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body background="{% static 'images/1900851.png' %}">
    
   <center>
       
       <h1><span style="background-color: cornflowerblue;" >USER LOGIN</h1></span><br><br>
   <label for="">EMAIL ID : </label>
   <input type="email"><br><br>
   <label for="">PASSWORD : </label>
   <input type="password"><br><br>
   <button >sign in</button>
</center>
   

</body>
</html>